body{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    background-color: #9b733f;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
    flex-wrap: wrap;
}

.logo{
    padding: 20px;
}

ul{
    list-style: none;
}

.menu{
    display: flex;
    padding: 1px;
    align-items: center;
}

.menu li a{
    border-radius: 10px;
    letter-spacing: 1px;
    margin: 0px 5px;
    font-size: large;
}

.nav-home,
.nav-about,
.nav-services,
.nav-portfolio,
.nav-team,
.nav-contact{
    padding: 10px 25px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.nav-home{
    background-color: rgba(201, 142, 16, 0.658);
}
nav a{
    text-decoration: none;
    background-color: #804124;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    padding: 0px 15px;
}

